<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer </h3>
        <p>
           se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" />
            </span>
            <h5><email endereco="saraislaine@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br/>
            <span>
                <img src="~/images/phone-app-icon.png"/>
            </span>
            <h5>
                (79) 988034380 
            </h5>
            <br/>
            <span>
                <img src="~/images/Home-iconred- primeira.png" />
            </span>
            <h5> Rua salgado - 170 -49060580 - Aracaju-se</h5>
        </p>
        </div>
        </div>